# Database
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
DATABASE_URL=

# Redis
REDIS_URL=

# AWS
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=

# AWS S3
S3_BUCKET=
S3_PRESIGNED_URL_EXPIRATION=

# AWS SQS
SQS_QUEUE_NAME=
SQS_DLQ_NAME=
SQS_QUEUE_URL=
SQS_DLQ_URL=

# Secret Key
SECRET_KEY=